.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8vmin auto;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 5vmin;
  text-shadow: 2px 2px 2px black;
}

.greeting {
  width: 100%;
  padding: 10px 20px 10px 20px;
  margin: 0 0 0 30px;
  display: grid;
  text-align: left;
  font-weight: bold;
  background-color: var(--card-background);
}

.App header {
  background-color: var(--header-background);
  color: var(--header-text);
  text-shadow: 2px 2px 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
}

.App a {
  text-decoration: none;
  color: var(--header-text);
  padding: 5px 10px;
}

.App a:hover {
  color: white;
  background-color: #001B2D;
}

.App main {
  background-color: var(--background-color);
  color: var(--main-text);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

